<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원정보변경</title>
</head>
<body>
    <form action="{% url 'users:update' user.id %}" method="POST">
        {% csrf_token %}
          <div>
            이메일 : <input type="email" id="email" name="email" value="{{ user.email }}">
          </div>
          <div>
            이름 : <input type="text" id="name" name="username" value="{{ user.username }}"> 
          </div>
          <div>
            닉네임 : <input type="text" name="nickname" value="{{ user.nickname }}">
          </div>
          <div>
            기존 비밀번호 : <input type="password" name="origin_password">
          </div>
          <div>
            새 비밀번호 : <input type="text" name="new_password">
          </div>
          <button type="submit" class="btn btn-primary">수정하기</button>
      </form>
    
</body>
</html>