<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>홈페이지</title>
</head>
<body>
    <br>
     {{ user.email }}
     {{ user.nickname }}
     {{ user.username }}
     <br>
    <br>
    <a href = "{% url "users:logout" %}">로그아웃</a>
    <a href = "{% url "users:delete" %}">회원탈퇴</a>
    <a href = "{% url "users:update" user.id %}">내정보변경</a>
    <a href = "{% url "contents:post" %}">게시글작성하러가기</a>
    <br>
    <br>
    {% for post in posts %}
    <br>
    {{ post.title }}
    {{ post.content }}
    <br>
    {% for comment in post.comment%}
    <br>
    {{ comment.user.email }}
    {{ comment.content }}
    <br>
    {% if request.user == comment.user %}
    <button onclick="location.href='{% url "contents:comment_delete" comment.id %}'" >삭제</button
    {% endif %}
    <br>
    {% endfor %}
    <br>
    <form method="POST" action="{% url "contents:write_comment" post.id %}">
        {% csrf_token %}
        <div> 내용:<textarea name="content"></textarea>
        </div>
        <button type = "submit">댓글입력</button>
    </form>




    <a href="{% url 'contents:postdelete' post.id %}">게시글삭제</a>
    <a href="{% url 'contents:postupdate' post.id %}">게시글수정</a>
    좋아요 {{ post.like_authors.count }} 명
    <a href="{% url 'contents:like' post.id %}">좋아요</a>

    <br>
    {% endfor %}
    <br>
    <a href="{% url 'users:follow_view' %}">팔로우하러가기</a>
    



    
    
</body>
</html>