<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>홈페이지</title>
</head>
<body>
    {{ users }}
    <br>
    {% for user in users %}
     {{ user.email }}
     {{ user.nickname }}
     {{ user.username }}
     {% endfor %}
     <br>
    <br>
    <a href = "{% url "users:logout" %}">로그아웃</a>
    <a href = "{% url "users:delete" %}">회원탈퇴</a>
    <br>

    
    
</body>
</html>